{% extends "tasks/layout.html" %}

{% block title %}Tasks{% endblock %}

{% block body %}

    <h1 class="title">Tasks</h1>

    <a class="link" href="{% url 'add' %}">Add a new task</a>

    <div id="tasks-container">
        {% for task in tasks %}
            <div class="task-card {% if task.is_completed %}task-finished{% endif %}">
                <p class="task-text task-title">{{task.title}}</p>
                <p class="task-text">{{task.description}}</p>
                <div class="buttons-container">
                    <form action="{% url 'edit' task.id %}" method="post">
                        {% csrf_token %}
                        {% if task.is_completed %}
                            <input class="button edit-btn" type="submit" value="Unmark"/>
                        {% else %}
                            <input class="button edit-btn" type="submit" value="Mark"/>
                        {% endif %}
                    </form>
                    
                    <form action="{% url 'delete' task.id %}" method="post">
                        {% csrf_token %}
                        <input class="button delete-btn" type="submit" value="Delete"/>
                    </form>
                </div>
            </div>
        {% empty %}
            <p id="no-tasks">No tasks to show</p>
        {% endfor %}
    </div>

{% endblock %}
