/* Basic settings */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body * {
    transition: 0.3s;
}

/* index page */

#index-info {
    font-size: 20px;
}

#index-title {
    margin-top: 30vh;
}

#index-secret {
    font-size: 14px;
    background-color: black;
    display: inline-block;
    padding: 2px 5px;
}

#index-secret:hover {
    color: white;
}

/* tasks page */

.title {
    margin: 50px 0px;
}

#tasks-container {
    border: solid black 4px;
    border-radius: 10px;
    max-width: 50vw;
}

.task-card {
    padding: 10px;
    border-bottom: 1px solid black;
}

.link {
    font-size: 20px;
    margin-bottom: 20px;
}

.task-text {
    text-align: center;
}

.task-title {
    font-size: 18px;
    font-weight: bold;
}

.task-finished {
    background-color: lightgray;
    text-decoration-line: line-through;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.button {
    padding: 8px 12px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 14px;
    border: none;
}

.button:hover {
    cursor: pointer;
    filter: brightness(0.8);
}

.edit-btn {
    background-color: #FFBC49;
}

.delete-btn {
    background-color: #E2574C;
}

#no-tasks {
    font-weight: bold;
    padding: 30px;
    font-size: 20px;
}

/* form */

#task-form {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-section {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0px;
    width: 320px;
}

label {
    font-size: 18px;
    padding-right: 20px;
    text-align: left;
}

textarea, input[type=text] {
    width: 200px;
}

textarea {
    height: 80px;
}

.submit-btn {
    background-color: #58AD69;
}
